.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  margin-top: 3.2rem;
}

.logoLink {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 4.2rem;
  color: var(--primary);
  transition: all 0.25s;
}

.logoLink:hover {
  filter: brightness(50%);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
